<html>
<body>
</div>
  <div id="columns">
  <div id="side"> 
    <div id="cart">
      <% if @cart %>
        <%= render @cart %>
      <% end %>
    </div>
  </div>
<div id="main">
  <%= yield %> 
</div>
</div>
</div>
</body> 
</html>