<html>
<body>
  <div id="columns">
  	<div id="side"> 
    	<div id="cart">
      	<% if @cart %>
        	<%= render @cart %>
      	<% end %>
    	</div>
  	</div>
	<div id="main">
 
	</div>
	</div>

</body> 
</html>